.tab-bar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.tab-item {
  padding: 10px 0 0 0;
  font-size: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .icon {
    font-size: 22px;
    margin-bottom: 4px;
  }
  .icon-add-bg {
    position: absolute;
    top: -15px;
    width: 40px;
    height: 40px;
    background-color: #cb5656;
    border: 3px solid #cb5656;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-add {
      font-size: 26px;
      margin-bottom: 0px;
      color: #fff;
    }
  }

  .edit-text {
    display: block;
    padding-top: 22px;
  }
}

.active {
  color: #07c160;
}
