.virtual-waterfall-container {
  width: 100%;
  height: 100%;
}

.virtual-waterfall-content {
  display: flex;
  width: 100%;
}

.virtual-waterfall-column {
  flex: 1;
  padding: 0 10px 0 15px;
  &:last-child {
    padding: 0 15px 0 5px;
  }
}

// 卡片之间的间距
.virtual-waterfall-column .wf-card {
  margin-bottom: 10px;
}
